html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px; }
  @media only screen and (min-width: 1060px) {
    html {
      font-size: 16px; } }

body {
  font: normal 1.1rem "Raleway", "Arial";
  color: #333333; }

h1 {
  font-size: 2rem; }

h2 {
  font-size: 1.5rem; }

h3 {
  font-size: 1.17rem; }

h4 {
  font-size: 1.12rem; }

h5 {
  font-size: .83rem; }

h6 {
  font-size: .75rem; }

p {
  font: normal 1.1rem "Raleway", "Arial";
  word-spacing: 4px; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

s {
  text-decoration: line-through; }

a {
  font: bold 1.1rem "Raleway", "Arial";
  font-weight: 900;
  text-decoration: none;
  color: #4d4d4d;
  cursor: pointer;
  text-transform: uppercase;
  transition: color 0.1s linear; }
  a:visited {
    color: #4d4d4d; }
  a:hover {
    color: #cccccc; }

#home-title-container {
  color: #333333; }
  #home-title-container #home-title {
    font: normal 2.2rem "Raleway", "Arial"; }
  #home-title-container #home-subtitle {
    font: normal 1.5rem "Raleway", "Arial"; }
  #home-title-container #home-date {
    font: normal 1rem "Raleway", "Arial"; }

#post .post-title {
  font: bold 1.8rem "Raleway", "Arial";
  color: #4d4d4d;
  text-transform: uppercase;
  text-align: center; }
#post .post-date {
  font-size: 1.1rem;
  font-weight: 100; }
#post .post-artist {
  font-size: 1.8rem;
  font-weight: 100; }
#post .post-subtitle {
  font: bold 1.5rem "Raleway", "Arial";
  color: #4d4d4d; }
@media only screen and (min-width: 1060px) {
  #post .post-title {
    font: bold 2.3rem "Raleway", "Arial"; }
  #post .post-artist {
    font-size: 2.3rem; } }
#post .align-right {
  text-align: right;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px; }

#post-list .post-title-container {
  font: normal 1.4rem "Raleway", "Arial";
  text-decoration: none;
  cursor: pointer;
  color: white;
  letter-spacing: 0.04em; }
  #post-list .post-title-container .post-title {
    font-weight: 900; }
  #post-list .post-title-container .post-date, #post-list .post-title-container .post-artist {
    font-size: 1rem;
    font-weight: 100;
    letter-spacing: normal;
    text-transform: none; }

.social-icon a {
  font-size: 2.2rem; }
  @media only screen and (min-width: 980px) {
    .social-icon a {
      font-size: 3rem; } }

body {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
  background: -webkit-linear-gradient(#f8c68a, #aad2e6, #6f8db5);
  background: linear-gradient(to bottom right, #f8c68a, #aad2e6, #6f8db5); }
  @media only screen and (min-width: 1060px) {
    body {
      -webkit-flex-direction: row;
      flex-direction: row; } }

#main-div {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  margin: 0 25px; }
  @media only screen and (min-width: 1060px) {
    #main-div {
      width: 100%; } }
  #main-div .video-wrapper-16x9 {
    padding-bottom: 56.25%; }
  #main-div .video-wrapper-4x3 {
    padding-bottom: 75%; }
  #main-div .video-wrapper-3x1 {
    padding-bottom: 33%; }
  #main-div .video-wrapper-wrapper-small {
    max-width: 600px;
    margin: 1rem auto; }
  #main-div .video-wrapper {
    position: relative;
    margin: 1rem auto;
    height: 0;
    overflow: hidden; }
    #main-div .video-wrapper iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
  #main-div .inline-images img {
    display: inline; }

#home-title-container {
  margin: 60px auto 50px; }
  #home-title-container #home-title, #home-title-container #home-subtitle, #home-title-container #home-date {
    text-align: center;
    margin-bottom: 5px; }
  #home-title-container #home-title {
    margin-bottom: 10px; }

#post {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 70%;
  padding: 60px 7% 40px;
  background-color: white;
  position: relative;
  margin-top: 30%;
  z-index: 10; }
  #post .post-date {
    margin: 32px 0; }
  #post .post-artist {
    margin: 16px 0 32px;
    text-align: center; }
  #post .close-post {
    position: absolute;
    top: 10px;
    right: 16px; }
  #post .home-link {
    display: block;
    margin: 40px auto 0;
    text-align: center; }
  #post audio {
    width: 100%; }
  #post img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    border-radius: 5px; }
  #post #swipebox-gallery {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center; }
    #post #swipebox-gallery .swipebox {
      width: 200px;
      margin: 24px 5px 0; }

#post-image-header {
  width: 90%;
  max-height: 500px;
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 0; }
  #post-image-header img {
    display: block;
    width: 100%; }

#home-header {
  width: 100%; }
  #home-header .video-wrapper {
    margin: 0; }

#post-list-intro {
  display: block;
  width: 100%;
  background-color: white;
  margin-bottom: 25px;
  padding: 5%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  #post-list-intro #post-list-title {
    padding-bottom: 10px; }
  #post-list-intro p {
    margin: 0; }

#post-list.post-list-container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  width: 100%; }
  #post-list.post-list-container .post-list-item {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    position: relative;
    margin: 2%;
    width: 96%;
    transition: opacity 0.1s linear;
    opacity: 1; }
    @media only screen and (min-width: 660px) {
      #post-list.post-list-container .post-list-item {
        width: 46%; } }
    @media only screen and (min-width: 1060px) {
      #post-list.post-list-container .post-list-item {
        width: 29%; } }
    #post-list.post-list-container .post-list-item:hover {
      opacity: 0.8; }
  #post-list.post-list-container .post-image {
    width: 100%; }
    #post-list.post-list-container .post-image img {
      display: block;
      width: 100%; }
  #post-list.post-list-container .post-title-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    padding: 20px;
    width: 100%;
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)); }
